html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 确保页脚在内容较少时推至底部 */
    background-image: url('sky_totr_blog-header.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    /* 让主内容区域自动扩展以占据剩余空间 */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: -1;
}

canvas#particleCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}


/* 头部样式 */

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2em;
    color: #007ACC;
    text-shadow: 1px 1px 2px #aaa;
}


/* 导航栏样式 */

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    background-color: #007ACC;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin: 0 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #005f99;
    border-radius: 8px;
}


/* 隐藏样式 */

.hidden {
    display: none;
}


/* 子类别和乐谱列表样式 */

#subcategories,
#music-list {
    width: 80%;
    margin: 5px 0;
    text-align: center;
}


/* 子类别列表样式 */

#subcategory-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#subcategory-list li {
    margin: 10px 15px;
    padding: 10px 15px;
    background-color: rgba(230, 240, 255, 0.9);
    /* 半透明背景 */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#subcategory-list li:hover {
    background-color: #cce0ff;
}


/* 乐谱项样式 */

#music-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.music-item {
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    /* 半透明背景 */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
}

.music-item:hover {
    transform: translateY(-5px);
}

.music-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.music-item p {
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: bold;
}

.music-item a {
    text-decoration: none;
    color: #007ACC;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.music-item a:hover {
    text-decoration: underline;
}


/* 页脚样式 */

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #666;
    background: rgba(255, 255, 255, 0.7);
    border-top: 1px solid #ddd;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;
}


/* 头部样式 */

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.7em;
    color: #007ACC;
    text-shadow: 1px 1px 2px #aaa;
}


/* 搜索框样式 */

header input[type="text"] {
    margin-top: 10px;
    padding: 5px 12px;
    /* 内边距调整 */
    font-size: 0.55em;
    /* 字体大小调整 */
    width: 40%;
    max-width: 100px;
    /* 最大宽度 */
    border: 1px solid #ddd;
    /* 较浅的边框色 */
    border-radius: 20px;
    /* 圆角 */
    background-color: rgba(255, 255, 255, 0.8);
    /* 初始背景色的透明度 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 更细致的阴影 */
    outline: none;
    transition: all 0.3s ease;
    color: #333;
    /* 输入文本颜色 */
    opacity: 0.9;
    /* 初始透明度 */
}


/* 搜索框鼠标悬停时效果 */

header input[type="text"]:hover {
    width: 70%;
    max-width: 320px;
    /* 扩展最大宽度 */
    opacity: 1;
    /* 鼠标悬停时完全不透明 */
}


/* 搜索框聚焦效果 */

header input[type="text"]:focus {
    border-color: #007ACC;
    /* 聚焦时边框颜色 */
    box-shadow: 0 3px 6px rgba(0, 122, 204, 0.3);
    /* 聚焦时的阴影效果 */
    background-color: #fff;
    /* 聚焦时的背景颜色 */
    color: #000;
    /* 聚焦时的文本颜色 */
    padding: 6px 12px;
    /* 聚焦时稍微增加内边距 */
    opacity: 1;
    /* 完全不透明 */
}
